{% extends "base.html" %}

{% block title %}Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{%block js%}
<script>

    let previews = document.getElementsByClassName("preview");
    Array.from(previews).forEach((element)=>
    {
    element.innerHTML =element.innerText;

    });

</script>
{% endblock js%}

{% block body %}
<div class="container my-2">
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is Mahendra Yadav currently persuing B.tech brach-CSE from IKG Punjab Technical University Amritsar Campus.</p>
    <hr class="my-4">
  <h5>Ambitious, Enthusiastic,Adaptable
,Disciplined,Persistent</h5>
  <p>This is my blog website where I post some technical article and information which may be useful for you.</p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to blog</a>
</div>
</div>

<div class="container mt-3">
<h3>Top blogs:</h3>
    <div class="row my-2">
        {% for post in all_post %}
        <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <strong class="d-inline-block mb-2 text-primary">{{ post.author }}</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.timestamp }}</div>
          <p class="card-text mb-auto"><div class = "preview">{{ post.content |safe| truncatechars:100}}</div></p>
          <a href="blog/{{ post.slug }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
<!--          <img src="" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">-->
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:2%}
    </div>
    <div class="row my-2">
        {%endif%}
        {%endfor%}</div>

</div>

{% endblock body %}
