{% extends "base.html"%}



{% block title %}Projects{% endblock title %}
{% load static %}
{% block body %}
<div class=" container my-4">
<div class="card-deck">
  <div class="card">
    <img src="/static/images/blogimage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blog Website</h5>
      <p class="card-text">This is blog website in which we can post our blog,login, comment, reply, and logout.</p>
  <h5>Front-end</h5>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javscript</li>
    </ul>
    <h5>Backend</h5>
        <ul>
        <li>Python/Django</li>
    </ul>
    <button class = "btn btn-primary ">Code</button>
    </div>

  </div>
  <div class="card">
    <img src="/static/images/automationimage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Linkdin_automted_job_apply</h5>
      <p class="card-text">In this project I have used selenium, webdriver to apply for the job on linkdin.</p>
<button class = "btn btn-primary ">Code</button>
    </div>
  </div>
  <div class="card">
    <img src="/static/images/e-commerce.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <button class = "btn btn-primary ">Code</button>
    </div>

  </div>
</div>
    </div>

<div class=" container my-4">
<div class="card-deck">
  <div class="card">
    <img src="/static/images/blogimage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blog Website</h5>
      <p class="card-text">This is blog website in which we can post our blog,login, comment, reply, and logout.</p>
  <h5>Front-end</h5>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javscript</li>
    </ul>
    <h5>Backend</h5>
        <ul>
        <li>Python/Django</li>
    </ul>
        <button class = "btn btn-primary ">Code</button>
    </div>

  </div>
  <div class="card">
    <img src="/static/images/automationimage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Linkdin_automted_job_apply</h5>
      <p class="card-text">In this project I have used selenium, webdriver to apply for the job on linkdin.</p>
<button class = "btn btn-primary">Code</button>
    </div>

  </div>
  <div class="card">
    <img src="/static/images/e-commerce.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  <button class = "btn btn-primary ">Code</button>
    </div>

  </div>

</div>
    </div>











{% endblock body %}
