{% extends "base.html" %}

{% block title %}Blogpost {% endblock title %}

{% block body %}

<div class="container my-4">
<div class="row">
    <div class="col-md-8 blog-main">
        <div class="blog-post">
        <h2 class="blog-post-title">{{ post }}</h2>
        <p class="blog-post-meta">{{ post.timestamp }} by</p> <a href="#">{{ post.author }}</a></p>

        <p>{{ post.content }}</p>
        <hr>
      </div><!-- /.blog-post -->





        <div class = "container">
   <form action=" /blog/postComment" method = "post">

       {% csrf_token %}
  <div class="form-group">
    <label for="comment">Enter your commnet here</label>
    <input type="text" class="form-control" id="comment" name = "comment" aria-describedby="commentHelp">

  </div>
       <input type = "hidden" class = "form-control" name = "postSno" value="{{ post.sn }}">

  <button type="submit" class="btn btn-primary">Post</button>
       </form>
            <br><br>
<div class = "container">
    <h5> Comments</h5>
    <div>
            {% for comment in comments %}
    <div class="row my-3">
        <div class="col-md-1  ">
<!--        <img class="rounded mx-auto d-block w-100 p-2" src="/static/img/user.png"  alt="user">-->
        </div>
        <div class="col-md-11 ">
        <b> {{comment.user.username}} </b> at {{comment.timestamp}}
        <div>   {{comment.comment}} </div>
    </div>
    </div>
    {% endfor %}
        </div><!-- /.blog-main -->


{% endblock body %}
